// desktop
@media screen and (min-width: pxToRem(900)) {
    
    .testimonials {
        column-gap: pxToRem(30);
        display: grid;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: pxToRem(282) pxToRem(267);
        row-gap: pxToRem(24);
    }
    
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        max-width: none;
        margin: 0;
    }
    
    .card--bg-quote-marks {
        background-position-x: right pxToRem(80);
    }
    
    .card--grid-area-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .card--grid-area-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .card--grid-area-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .card--grid-area-4 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    .card--grid-area-5 {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

}