// variables


// colors
$clr-violet: hsl(263, 55%, 52%);
$clr-white: hsl(0, 0%, 100%);
$clr-white-opac-50: hsla(0, 0%, 100%, .5);
$clr-white-opac-70: hsla(0, 0%, 100%, .7);
$clr-light-grayish-blue: hsl(210, 46%, 95%);
$clr-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-dark-blue: hsl(219, 29%, 14%);
$clr-dark-blue-opac-50: hsla(219, 29%, 14%, .5);
$clr-dark-blue-opac-70: hsla(219, 29%, 14%, .7);

// font-family
$ff-default: 'Barlow Semi Condensed', sans-serif;


// font-weight
$fw-regular: 500;
$fw-bold: 600;

// font-size
$fs-default: pxToRem(13);
$fs-title: pxToRem(20);
$fs-status: pxToRem(11);